.home {
  padding-top: 80px;
}

.home__container {
  padding: 89px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1080px) {
  .home__container {
    flex-direction: column;
    gap: 40px;
  }
}

.home__title {
  display: flex;
  flex-direction: column;
}

.home__title span {
  color: #333;
  font-style: normal;
  line-height: 65px; /* 144.444% */
}

.home__title .extra-bold {
  color: #333;
  font-family: "Manrope-800";
  font-size: 45px;
  font-style: normal;
  line-height: 65px; /* 144.444% */
}

.home__title .medium {
  color: #333;
  font-family: "Manrope-300";
  font-size: 55px;
  font-style: normal;
  line-height: 65px;
  text-transform: uppercase;
}

.home__subtitle {
  color: #333;
  font-family: "Manrope-600";
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  margin-top: 16px;
}

.btn {
  background: #77b2d3;
  border-radius: 250px;
  border: none;
  margin-top: 29px;
  color: #fff;
  font-family: "Manrope-600";
  font-size: 16px;
}